:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
aside {
  flex: 1; /* 侧边栏占据剩余空间 */
  padding: 16px;
  background-color: #f0f0f0;
}
main {
  flex: 3; /* 主内容区域占据更多空间 */
  padding: 16px;
  background-color: #e0e0e0;
}
.app-container {
  display: block;
  height: 100%;
  overflow: auto;
  &.hidden {
    display: none;
  }
}
