:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
aside {
  width: 50rem;
  font-size: 3rem;
  background-color: #c32727;
  ul {
    padding-left: 6rem;
    li {
      list-style: none;
    }
  }
  a {
    color: black;
  }
}
main {
  flex: 3; /* 主内容区域占据更多空间 */
  padding: 16px;
  background-color: #e0e0e0;
}
.app-container {
  display: block;
  height: 100%;
  overflow: auto;
  &.hidden {
    display: none;
  }
}
