:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
aside {
  width: 50rem;
  font-size: 3rem;
  background-color: rgb(45, 45, 45);
  color: white;
  ul {
    padding-left: 6rem;
    li {
      list-style: none;
      line-height: 2;
    }
  }
  a {
    color: white;
  }
}
main {
  flex: 3; /* 主内容区域占据更多空间 */
  padding: 16px;
  background-color: white
}
.app-container {
  display: block;
  height: 100%;
  overflow: auto;
  &.hidden {
    display: none;
  }
}
